<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:if="${reports != null and !reports.isEmpty()}">
    <div id="reportContent">
        <h2 th:text="'Manage Expenses For Year - ' + ${year}"></h2>
        <table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
            <thead>
            <tr>
                <th>Month</th>
                <th>Plan Amount</th>
                <th>Action</th>
                <th>Actual Amount</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody style="text-align: -webkit-center; text-transform: capitalize;">
            <tr th:each="report : ${reports}">
                <td th:text="${report.monthStr}" style="text-align: left;padding-left: 30px;"></td>
                <td th:text="${report.planAmount}"></td>
                <td>
                    <a href="javascript:void(0);"
                       th:onclick="'loadEditPageContent(\'/api/expenses/add?id=' + ${report.id} + '&type=plan\', \'#page-content\')'"
                       style="text-decoration: none; margin-right:10px;">
                        <img th:src="@{/images/edit-icon.png}" alt="Edit" style="width: 20px; height: 20px; margin-right: 20px; margin-left: 15px;" />
                    </a>
                    <a href="javascript:void(0);"
                       class="delete-btn"
                       th:attr="data-report-type='manageReport_' + ${year} + '_ReportContainer', data-id=${report.id}"
                       th:onclick="'deleteEntity(this, \'Plan Amount\', \'/api/expenses/deleteAmount\')'">
                        <img th:src="@{/images/delete-icon.png}" alt="Delete" style="width: 20px; height: 20px;" />
                    </a>
                </td>
                <td th:text="${report.actualAmount}"></td>
                <td>
                    <a href="javascript:void(0);"
                       th:onclick="'loadEditPageContent(\'/api/expenses/add?id=' + ${report.id} + '&type=actual\', \'#page-content\')'"
                       style="text-decoration: none; margin-right:10px;">
                        <img th:src="@{/images/edit-icon.png}" alt="Edit" style="width: 20px; height: 20px; margin-right: 20px; margin-left: 15px;" />
                    </a>
                    <a href="javascript:void(0);"
                       class="delete-btn"
                       th:attr="data-report-type='manageReport_' + ${year} + '_ReportContainer', data-id=${report.id}"
                       th:onclick="'deleteEntity(this, \'Actual Amount\', \'/api/expenses/deleteAmount\')'">
                        <img th:src="@{/images/delete-icon.png}" alt="Delete" style="width: 20px; height: 20px;" />
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${reports == null or reports.isEmpty()}">
    <h2 style="text-align: center; color: #333; padding-bottom: 10px;">No Expenses Available.</h2>
</div>
<br><br>
</body>
</html>