<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YearWise Plan Expenses</title>
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>Year Wise Expenses</h2>
        <form method="get">
            <div class="input-group">
                <label for="year">Select Year<span class="mandatory">*</span>:</label>
                <select id="year" name="year" required>
                    <option value="">--Select Year--</option>
                    <option th:each="yr : ${years}"
                            th:value="${yr}"
                            th:text="${yr}"></option>
                </select>
            </div><br>
            <div class="button-group">
                <button type="button"
                        th:onclick="'setActive(this); loadReport(\'year\', \'/api/expenses/manageReport\', \'ReportContainer\')'">
                    Manage
                </button>
                <button type="button"
                        th:onclick="'setActive(this); loadReport(\'year\', \'/api/expenses/yearWiseActualPlanReport\', \'ReportContainer\')'">
                    Plan vs Actual
                </button>
                <button type="button"
                        th:onclick="'setActive(this); loadReport(\'year\', \'/api/expenses/yearSummaryReport\', \'ReportContainer\')'">
                    Summary
                </button>
            </div>
        </form>
    </div>
    <div id="ReportContainer"></div>
</div>
</body>
</html>