<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Year summary Expenses</title>
</head>
<body>
<div class="container">
    <div id="yearwise">
        <h1 class="h1report">
            <span th:text="'YEARLY EXPENSE SUMMARY - ' + ${year}"></span>
            <div class="report-buttons">
                <button id="downloadPdf" class="pdf-btn"
                        th:onclick="'downloadPdf(\'yearSummary|' + ${year} + '\')'">
                    <img th:src="@{/images/pdf.png}" alt="PDF" />
                </button>
                <button id="printReport" class="print-btn"
                        th:onclick="'printReport()'">
                    <img th:src="@{/images/print.png}" alt="Print" />
                </button>
            </div>
        </h1>
        <table class="summaryTable">
            <thead>
            <tr>
                <th>Category</th>
                <th>JAN</th> <th>FEB</th> <th>MAR</th> <th>APR</th> <th>MAY</th>
                <th>JUN</th> <th>JUL</th> <th>AUG</th> <th>SEP</th> <th>OCT</th>
                <th>NOV</th> <th>DEC</th> <th>TOTAL</th> <th>AVG</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${categorySums}">
                <td style="text-align: left; font-weight: bold;" th:text="${entry.key}"></td>
                <td th:each="month : ${#numbers.sequence(1, 12)}">
                    <span th:text="${expenseReport != null and expenseReport.size() > 0} ?
                        ${#numbers.formatInteger(
                            (expenseReport.?[category == '__${entry.key}__' and month == __${month}__].size() > 0)
                            ? expenseReport.?[category == '__${entry.key}__' and month == __${month}__].get(0).actualAmount
                            : 0, 0)}
                        : '0'" th:remove="tag"></span>
                </td>
                <td><strong th:text="${entry.value}"></strong></td>
                <td><strong th:text="${categoryAverages[entry.key]}"></strong></td>
            </tr>
            <tr class="fh-report-footer-row">
                <td style="text-align: left; font-weight: bold;"><strong>Total</strong></td>
                <td th:each="month : ${#numbers.sequence(1, 12)}">
                    <strong th:text="${monthlySums[month.toString()] ?: '0'}"></strong>
                </td>
                <td><strong th:text="${grandTotal}"></strong></td>
                <td><strong th:text="${totalAverage}"></strong></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>