<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Year Wise Expenses</title>
</head>
<body>
<div class="container">
    <div id="yearwise">
        <h2 th:text="'Budget & Actual Expenses For Year - ' + ${year}"></h2>
        <table class="myTable">
            <thead>
            <tr>
                <th rowspan="2">Category</th>
                <th th:each="monthName : ${#arrays.toStringArray('JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC'.split(','))}"
                    th:text="${monthName}" colspan="2"></th>
            </tr>
            <tr>
                <th:block th:each="monthIndex : ${#numbers.sequence(1, 12)}">
                    <th th:text="'Budget'"></th>
                    <th th:text="'Actual'"></th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${#sets.toSet(reportData.![category])}">
                <td th:text="${category}"></td>

                <th:block th:each="monthIndex : ${#numbers.sequence(1, 12)}">
                    <td>
            <span th:text="${#numbers.formatInteger(
                (reportData.?[category == '__${category}__' and month == __${monthIndex}__].![planAmount].size() > 0)
                ? reportData.?[category == '__${category}__' and month == __${monthIndex}__].![planAmount].get(0)
                : 0, 0)}" th:remove="tag"></span>
                    </td>
                    <td>
            <span th:text="${#numbers.formatInteger(
                (reportData.?[category == '__${category}__' and month == __${monthIndex}__].![actualAmount].size() > 0)
                ? reportData.?[category == '__${category}__' and month == __${monthIndex}__].![actualAmount].get(0)
                : 0, 0)}" th:remove="tag"></span>
                    </td>
                </th:block>
            </tr>
            <tr class="fh-report-footer-row">
                <td>Total</td>
                <th:block th:each="monthIndex : ${#numbers.sequence(1, 12)}">
                    <td th:text="${monthlyPlanTotalMap[monthIndex.toString()] ?: '0'}"></td>
                    <td th:text="${monthlyActualTotalMap[monthIndex.toString()] ?: '0'}"></td>
                </th:block>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>