<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body class="account-spa-shell">
<div th:replace="~{views/common/header :: header(true)}"></div>

<div class="main-content" id="mainContent">
    <div id="username" style="display: none;" sec:authentication="name"></div>
    <div id="page-content">
        <th:block th:replace="~{views/account/changePasswordForm :: changePasswordForm}"></th:block>
    </div>
</div>
</body>
</html>
