<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="header">
    <th:block th:if="${_csrf != null}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.__csrfParameterName = /*[[${_csrf.parameterName}]]*/ '_csrf';
            window.__csrfHeaderName = /*[[${_csrf.headerName}]]*/ 'X-CSRF-TOKEN';
            window.__csrfToken = /*[[${_csrf.token}]]*/ '';
            /*]]>*/
        </script>
    </th:block>

    <link rel="stylesheet" th:href="@{/css/finStyles.css}" href="/css/finStyles.css">
    <script th:src="@{/js/chart.js}" src="/js/chart.js"></script>
    <script th:src="@{/js/validations.js}" src="/js/validations.js"></script>
    <script th:src="@{/js/formUtils.js}" src="/js/formUtils.js"></script>
    <script th:src="@{/js/printWorkPdf.js}" src="/js/printWorkPdf.js"></script>

    <header>
        <div class="header-container">
            <div class="left-section"></div>
            <div class="middle-section">
                <div class="logo">
                    <img th:src="@{/images/financehublogo.png}" src="/images/financehublogo.png" alt="Logo">
                    <span>RajaFinanceHub</span>
                </div>
            </div>
            <div class="right-section">
                <div class="userinfo">
                    <th:block sec:authorize="isAuthenticated()">
                        <span class="userinfo-name" sec:authentication="name">user</span>
                        <a th:href="@{/account/change-password}" class="header-account-btn" href="/account/change-password">Change password</a>
                        <img th:src="@{/images/signin.png}" src="/images/signin.png" alt="User Image" class="user-image">
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                        <div class="signin">
                            <a th:href="@{/login}" href="/login" class="signin-link">
                                <span>SignIn</span>
                                <img th:src="@{/images/signin.png}" src="/images/signin.png" alt="Login" class="login-image">
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </header>

    <th:block th:replace="~{views/common/menu :: menu}"></th:block>
</div>
</body>
</html>
