<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:src="@{/js/validations.js}" src="/js/validations.js"></script>
    <script th:src="@{/js/formUtils.js}" src="/js/formUtils.js"></script>
    <script th:src="@{/js/printWorkPdf.js}" src="/js/printWorkPdf.js"></script>
</head>
<body>
<div th:fragment="menu">
    <div class="menu-bar">
        <ul class="menu-items">
            <th:block sec:authorize="!isAuthenticated()">
                <li><a th:href="@{/}" href="/">Home</a></li>
                <li><a th:href="@{/services}" href="/services">Services</a></li>
                <li><a th:href="@{/contact}" href="/contact">Contact</a></li>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <li class="menu-item"><a th:href="@{/api/home}">Home</a></li>
                <li class="menu-item">
                    <a href="#">Professional</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/work/addExperience?action=add\')'">Add Experience</a></li>
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/work/addSalary?action=add\')'">Add Salary</a></li>
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/work/workReport\')'">Reports</a></li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#">Expenses</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/expenses/categories\')'">Categories</a></li>
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/expenses/add\')'">Add Expenses</a></li>
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/expenses/yearWiseActualPlan\')'">Year Wise</a></li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#">Rentals</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/rent/owners/add\')'">Add Owner</a></li>
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/rent/payments/add\')'">Add Rent</a></li>
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/rent/reports\')'">Reports</a></li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#">Loans</a>
                    <ul class="dropdown">
                        <li><a href="javascript:void(0);" th:onclick="'loadContent(\'/api/loan/addLoan\')'">Add Loan</a></li>
                    </ul>
                </li>

                <li class="menu-item menu-item-logout">
                    <form th:action="@{/api/logout}" method="post" class="logout-form">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="menu-logout-btn">Logout</button>
                    </form>
                </li>
            </th:block>
        </ul>
    </div>

    <th:block sec:authorize="isAuthenticated()">
        <div class="main-content" id="mainContent">
            <div id="username" style="display: none;" sec:authentication="name"></div>
            <div id="page-content"></div>
        </div>
    </th:block>
</div>
</body>
</html>
