<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:if="${session.username != null}">
    <div class="container">
        <div class="content-box">
            <h1 th:text="'Dashboard For User ' + ${username}">Dashboard For User</h1>
            <p>Welcome to your dashboard! Here you can monitor your professional milestones, manage your investments, track rental incomes, stay updated on loan applications, and keep an eye on expenses. Navigate through the menu to explore each section and stay organized.</p>
        </div>
    </div>
</th:block>
<th:block th:if="${session.username == null}">
    <p>Please log in to access your dashboard.</p>
</th:block>
</body>
</html>