<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block sec:authorize="isAuthenticated()">
<div th:replace="~{views/common/header :: header(true)}"></div>
<th:block th:replace="~{views/common/menu :: appMainShell}"></th:block>
    <script th:inline="javascript">
        var monthlySalaryData = /*[[${monthlySalaryData}]]*/ {};
        var yearlySalaryData = /*[[${yearlySalaryData}]]*/ {};
        var yearlyExpenseData = /*[[${yearlyExpenseData}]]*/ {};
        var yearlyRentData = /*[[${yearlyRentData}]]*/ {};
        var salaryData = /*[[${salaryData}]]*/ {};
        var expenseData = /*[[${expenseData}]]*/ {};
    </script>
    <script th:src="@{/js/homeCharts.js}" src="/js/homeCharts.js"></script>
    <div class="container" data-page="dashboard" id="dashboardContent">
        <div class="content-box">
            <h1 th:text="'Dashboard For User ' + ${username}">Dashboard For User</h1>
            <div class="dashboard">
                <div class="chart-row">
                    <div class="chart-container">
                        <canvas id="salaryExpenseChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="yearlySalaryChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="rentChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block sec:authorize="!isAuthenticated()">
    <p>Please log in to access your dashboard.</p>
</th:block>
</body>
</html>
